@page "/"
@inject HttpClient Http

<PageTitle>Home</PageTitle>
@if(posts is null) 
{
	<p> Loading ... </p>
}
else
{
@foreach(var post in posts)
{
	<p> <a href="/@post.Url">@post.Title</a> </p>
}
}
@code {
    private PostListModel[]? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await Http.GetFromJsonAsync<PostListModel[]>("data/posts/posts.json");
    }

}
