body {
	background: black;
	color : white;
	font-size:18px;
	
}
a:link,a:visited {
	color:white;
	font-size:18px;
}
.page, .header {
	padding: 0 100px;
}
.header {}
.header .logo{ display:inline-block;}
.header .nav{display:inline-block;}

.content ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}
